@import "normalize";

* {
  box-sizing: border-box;
}

.game-container {
  margin: 30px auto;
  min-width: 500px;
  width: 80%;
  border: 1px solid red;
}

.unit-wrapper{
  overflow: hidden;
  width: 98%;
  margin: 0 auto;
  li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    
    width: 9.8%;
    height: 9.8%;
    margin: 0 .2% .2% 0;
    float: left;
    &:nth-child(10n){
      float: right;
      margin-right: 0;
    }
  }
}

.blue {
  background: #c6d8f1;
}

.yellow{
  background: #f8f9a2;
}

.green {
  background: #35bf4d;
}

.red {
  background: #ff7373;
}


  
  // .week-content-item {
  //   margin-bottom: 10px;
  //   & > div {
  //     padding: 1px 17px 10px;
  //   }
  //   @media (min-width: $bp-desktop) {
  //     float: left;
  //     width: 49%;
  //     &:nth-child(2n + 1) {
  //       float: right;
  //     }
  //   }
  // }


//Chips transition
.chippo-enter {
  opacity: 0.01;
}

.chippo-enter.chippo-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.chippo-leave {
  opacity: 1;
}

.chippo-leave.chippo-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
