@import "normalize";

* {
  box-sizing: border-box;
}

.game-container {
  margin: 30px auto;
  padding: 1%;
  min-width: 500px;
  width: 80%;
  -webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,.1); 
box-shadow: 0 0 5px 3px rgba(0,0,0,.1);
}

.interactive-bar-wrapper {
  padding: 0 1%;
}

.unit-wrapper{
  overflow: hidden;
  width: 99%;
  margin: 5px auto 0;
  li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    width: 9.5%;
   padding: 5px 0;
    margin: 0 .54% .54% 0;
    float: left;
    &:nth-child(10n){
      float: right;
      margin-right: 0;
    }
  }
}

.blue {
  background: #c6d8f1;
}

.yellow{
  background: #f8f9a2;
}

.green {
  background: #35bf4d;
}

.red {
  background: #ff7373;
}

.winner {
  color: #559900;
}

.loser {
  color: #cc181e;
}
